/* src/App.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-item {
    display: inline;
  }
  
  .navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    background-color: #575757;
  }
  